.centered {
  text-align: center;
}

/*navbar*/
.navbar-right>li {
  text-align: right;
  padding-right: 10px;
	padding-left: 10px;
}
.spacer {
  padding-top: 75px;
}

/*tweet content*/

.tweet-box {
	border-bottom: solid 1px #cccccc;
  margin-bottom: 20px;
}
.tweet {
  background: #cccccc;
  border: solid 1px #999999;
	border-radius: 5px;
	margin-bottom: 20px;

}
.posting-time {
  position: relative;
	text-align: right;
}

/*location content*/
.streetview {
  position: relative;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
#heading-left {
  position: absolute;
	top: 35px;
	left: -25px;
}
#heading-right {
  position: absolute;
	top: 35px;
	right: -25px;
}
