<template name="navbar">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#stream-settings">
					<span class="sr-only">Toggle settings</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand">Bay Area Tweets</span>
			</div>
			<div class="collapse navbar-collapse" id="stream-settings">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<label>Streaming</label>
						<div class="btn-group">
							<button class="btn navbar-btn btn-default stream-running {{streamDisabled 'play'}}"><span class="glyphicon glyphicon-play"></span></button>
							<button class="btn navbar-btn btn-default stream-running {{streamDisabled 'pause'}}"><span class="glyphicon glyphicon-pause"></span></button>
						</div>
					</li>
					<li>
						<label>Sorting</label>
						<div class="btn-group">
							<button class="btn navbar-btn btn-default stream-sort {{sortDisabled 'timely'}}"><span class="glyphicon glyphicon-time"></span></button>
							<button class="btn navbar-btn btn-default stream-sort {{sortDisabled 'alphabetical'}}"><span class="glyphicon glyphicon-sort-by-alphabet"></span></button>
						</div>
					</li>
					<li class="dropdown">
						<label>Retaining</label>
						<button class="btn navbar-btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							{{numTweets}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu centered" role="menu">
							<li><a class="new-tweet-number" id="1" href="#">One</a></li>
							<li class="divider"></li>
							<li><a class="new-tweet-number" id="5" href="#">Five</a></li>
							<li class="divider"></li>
							<li><a class="new-tweet-number" id="10" href="#">Ten</a></li>
							<li class="divider"></li>
							<li><a class="new-tweet-number" id="15" href="#">Fifteen</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="spacer"></div>
</template>
